@model FIT5032_IbrahimFinalProject.Models.Email

@{
    ViewData["Title"] = "uMRI - Contact";
}

<h1>Contact Us</h1>

<p>Have any questions? Shoot us an email.</p>
<hr />

<div class="row">
    <div class="col-md-4">
@*         {@using (Html.BeginForm("Create", "Emails", FormMethod.Post, new { enctype = "multipart/form-data" }))}
 *@            <form id="Form1" method="post" EncType="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="From" class="control-label"></label>
                        <input asp-for="From" class="form-control" />
                        <span asp-validation-for="From" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea rows="10" asp-for="Content" class="form-control"> </textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    @Html.HiddenFor(model => model.To, htmlAttributes: new { @class = "form-control"})
                    <div class="mb-3">
                        <label asp-for="FileName" for="formFileSm" class="form-label">Attachments</label>
                    <input asp-for="Path" name="file" class="form-control form-control-sm" id="formFileSm" type="file" accept="image/png,image/gif,image/jpeg,application/pdf">
                    <span asp-validation-for="Path" class="text-danger"></span>
                </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>

        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
