@{
    ViewData["Title"] = "uMRI";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>A better MRI experience for all of us.</p>
    <img src="https://cdn.mos.cms.futurecdn.net/AqVeRE8tXG3EyQHUfXpFR4-1920-80.jpg.webp"/>
</div>
