@{
    ViewData["Title"] = "uMRI";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>A better MRI experience for all of us.</p>
    <p>Aggregate Rating: @ViewData["AggregateRating"]</p>
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col">
            </div>
            <div class="col">
                <img class="img-fluid" src="https://media.tenor.com/fhZJcsAyTrcAAAAC/skeleton-dancing.gif" />
            </div>
            <div class="col">
                <img class="img-fluid" src="https://cdn.mos.cms.futurecdn.net/AqVeRE8tXG3EyQHUfXpFR4-1920-80.jpg.webp" />
            </div>
            <div class="col">
                <img class="img-fluid" src="https://media.tenor.com/fhZJcsAyTrcAAAAC/skeleton-dancing.gif" />
            </div>
        </div>
    </div>
</div>
